.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(https://cdn2.cellphones.com.vn/insecure/rs:fill:690:300/q:90/plain/https://dashboard.cellphones.com.vn/storage/thu-cu-dong-ho-sliding.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header_bg {
    width: 100%;
    float: left;
    background-image: url(../../Có-nên-học-Công-nghệ-phần-mềm-trong-năm-2022-không.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header_bg .navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    margin: 0 auto;
    text-align: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 17px;
    color: #a9a8a8;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #4c4c4c;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #4c4c4c;
}

.navbar-brand {
    margin: 0px;
    float: right;
}

.navbar {
    padding: 15px 50px;
}

.user_icon {
    padding-right: 15px;
}

.login_bt {
    width: 210px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: 18px;
    color: #d98473;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #4c4c4c;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding: 90px 0px 100px 0px;
}

.banner_taital_main {
    width: 100%;
    float: left;
    padding-top: 80px;
}

.banner_taital {
    width: 100%;
    font-size: 90px;
    color: #252525;
    font-weight: 800;
}

.tasty_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #e38773;
    font-weight: bold;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #4a4949;
    margin: 0px;
}

.btn_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_bt {
    width: 175px;
    float: left;
}

.about_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #d48272;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
}

.about_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.callnow_bt {
    width: 175px;
    float: left;
}

.callnow_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    background-color: #d48272;
    color: #fefefd;
    text-align: center;
    padding: 12px;
    margin-left: 10px;
    border-radius: 5px;
}

.callnow_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.callnow_bt.active a {
    color: #fefefd;
    background-color: #4a4949;
}

#banner_slider a.carousel-control-prev {
    left: -120px;
    top: 455px;
}

#banner_slider a.carousel-control-next {
    right: 0px;
    top: 400px;
    left: -120px;
    color: #fefefd;
    background-color: #4a4949;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
}

#banner_slider .carousel-control-next:focus,
#banner_slider .carousel-control-next:hover,
#banner_slider .carousel-control-prev:focus,
#banner_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.banner_img {
    width: 100%;
    float: left;
    text-align: center;
}



.coffee_section {
    width: 100%;
}

.coffee_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.coffee_section_2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.bulit_icon {
    width: 100%;
    text-align: center;
}

.coffee_img img {
    width: 100%;
    float: left;
}

.types_text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #3b3b3b;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.looking_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    text-align: center;
    margin: 0px;
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d78373;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d78373;
    text-transform: uppercase;
    padding: 8px;
}

.read_bt a:hover {
    color: #3b3b3b;
    border: 1px solid #3b3b3b;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 95px;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 95px;
    color: #fefefd;
    background-color: #4a4949;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}


/* coffee section end */


/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding-bottom: 0px;
}

.about_taital_box {
    width: 500px;
    float: left;
    background-color: #ffffff;
    height: auto;
    padding: 40px 20px 30px 20px;
    box-shadow: 0px 0px 30px 0px;
    position: absolute;
    top: 1550px;
}

.image_iman {
    padding-left: 250px;
    position: relative;
}

.about_img {
    width: 100%;
}

.about_taital_1 {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #3b3b3b;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #232222;
    margin: 0px;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 40px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #d78373;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #fc947f;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.readmore_btn a:hover {
    color: #4a4949;
    border: 1px solid #4a4949;
}


/* about section end */


/* client section start */

.client_section {
    width: 100%;
    float: left;
    /* background-image: url(../images/client-bg.png); */
    height: auto;
    background-size: 100% 100%;
    padding-bottom: 50px;
}

.client_section_2 {
    width: 100%;
    float: left;
}

.client_taital_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.client_left {
    width: 20%;
    float: left;
    padding-left: 50px;
}

.client_img {
    width: 90%;
}

.client_right {
    width: 80%;
    float: left;
    padding-top: 20px;
}

.moark_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #3b3b3b;
    font-weight: bold;
}

.client_text {
    width: 75%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    margin: 0px;
}


/* client section end */

/* blog section start */

.blog_section {
    width: 100%;
    float: left;
}

.blog_section_2 {
    width: 100%;
    float: left;
    padding-top: 60px;
}

.blog_box {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px;
    padding: 0px 0px 30px 0px;
}

.blog_img {
    width: 100%;
}

.date_text {
    width: 100px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0px;
    background-color: red;
    position: absolute;
    top: -10px;
    left: 5px;
}

.prep_text {
    width: 100%;
    font-size: 20px;
    color: #3b3b3b;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px 10px 20px;
}

.lorem_text {
    width: 100%;
    font-size: 14px;
    color: #3b3b3b;
    margin: 0px;
    padding: 0px 20px;
}


/* blog section end */


/* contact section start */

.contact_section {
    width: 100%;
    float: left;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contact_section_2 {
    width: 100%;
    float: left;
    padding-top: 55px;
}

.padding_left_0 {
    padding-left: 0px;
}

.mail_section_1 {
    width: 50%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2e2e2d;
    border: 0px;
    background-color: #efefef;
    padding: 11px 20px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

input.mail_text::placeholder {
    color: #2e2e2d;
}

.massage-bt {
    color: #2e2e2d;
    width: 100%;
    height: 110px;
    font-size: 18px;
    background-color: #efefef;
    padding: 40px 20px 0px 20px;
    border: 0px;
    height: 110px;
    margin-top: 20px;
    border-radius: 40px;
    font-family: 'Poppins', sans-serif;
}

textarea#comment.massage-bt::placeholder {
    color: #2e2e2d;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #fefefd;
    background-color: #d07d6b;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.send_bt a:hover {
    color: #fefefd;
    background-color: #4a4949;
}

.button--add {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-color: #30C04F;
  }
  
  .button--add:hover {
    background-color: #2bac47;
  }

  .button--minus {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    background-color: #FF2849;
  }
  
  .button--minus:hover {
    background-color: #e52441;
  }